@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "PlayfairDisplay";
    src: local("PlayfairDisplay"),
    url(./assets/fonts/PlayfairDisplay-Regular.ttf) format("truetype");
}

body {
    font-family: "PlayfairDisplay";
    font-size: 16px;
    color: #292F2F;
}

h1 {
    font-size: 100px;
    line-height: 1em;
}

h2 {
    font-size: 60px;
    line-height: 1.1em;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 22px;
}

/*@font-face {*/
/*    font-family: "TimesNewRomanItalic";*/
/*    src: local("TimesNewRomanItalic"),*/
/*    url(./assets/fonts/TimesNewRoman-Italic.ttf) format("truetype");*/
/*}*/
/*@font-face {*/
/*    font-family: "TimesNewRoman";*/
/*    src: local("TimesNewRoman"),*/
/*    url(./assets/fonts/TimesNewRoman.ttf) format("truetype");*/
/*}*/
